* {
  margin: 0;
  padding: 0;
}

body, .read-more-btn, .form-message-field {
  font-family: 'Roboto';
}

header {
  background-color: #4c97a2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 10%;
}

.site-logo {
  color: #ffffff;
  font-family: 'Cherry Swash';
  font-weight: 100;
  font-size: 3vw;
  padding: 0 0 0 5%;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 45%;
  font-weight: 300;
  font-size: 1.2vw;
  justify-content: space-between;
  color: #e4e4e4;
}

.header-nav a {
  color: #e4e4e4;
  text-decoration: none;
}

.header-nav a:hover {
  color: #ffffff;
}

.recent-topics-slider {
  background: url(../image/section-bg.png) no-repeat 50% 26% / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e4e4e4;
  padding: 10% 0;
}

.recent-topics-slider h2 {
  text-align: center;
  width: 40%;
  font-size: 3.5vw;
  padding: 0 0 2%;
}

.read-more-btn {
  background: transparent;
  border: 2px solid #afb1b4;
  border-radius: 10px;
  font-weight: 300;
  font-size: 2.2vw;
  color: #afb1b4;
  padding: 0.5% 3.5%;
  cursor: pointer;
}

.read-more-btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.site-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5% 15%;
  color: #4c505d;

}

.site-description-header {
  font-weight: 300;
  font-size: 2.5vw;
  width: 75%;
  line-height: 4vw;
  margin-bottom: 2.5%;
}

.site-description-header span {
  font-weight: 500;
}

.site-description-text {
  font-size: 1.1vw;
  font-weight: 500;
  line-height: 1.8vw;
  margin-bottom: 8%;
}

.logos-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logos-container i {
  font-size: 6vw;
  color: #5eb6c4;
}

.cite-of-the-day {
  background: #00d089;
  padding: 7% 14%;
}

.author-description, .quote-icon {
  display: block;
}

.author-description {
  position: relative;
}

.quote-icon i {
  color: #33d9a1;
  font-size: 18vw;
}

.quote-icon {
  position: absolute;
  top: -53%;
  left: -37%;
}

.author-photo {
  border-radius: 50%;
  filter: grayscale(100%);
  width: 27%;
}

.author-info {
  display: inline-block;
  vertical-align: top;
  padding-left: 4%;
}

.cite-heading {
  padding-left: 42.5%;
  margin-bottom: 8%;
}

.author-name {
  color: #e4e4e4;
  font-size: 2.5vw;
  font-weight: 700;
}

.cite-text {
  color: #e4e4e4;
  font-size: 1.4vw;
  font-weight: 300;
  line-height: 3vw;
}

.contact-us {
  background: url(../image/contact-us-bg.jpg) no-repeat top/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0;
}

.contact-us form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10% 0 0;
}

.form-input-fields {
  padding: 5px 20px;
  margin-bottom: 3%;
  border: 1px solid #dce3e4;
  height: 2vw;
}

.form-message-field {
  border: 1px solid #dce3e4;
  resize: none;
  padding: 5px 20px;
  height: 5vw;
}

.form-message-field::placeholder, .form-input-fields::placeholder {
  color: #dce3e4;
}

.form-submit-btn {
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  color: #00d089;
  text-align: center;
  margin: 6% 0 0;
  cursor: pointer;
}

.form-submit-btn i {
  font-size: 5vw;
}

.form-submit-btn-wrapper {
  text-align: center;
}

.form-round-wrapper {
  height: 30vw;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #dce3e4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  background: #00d089;
  color: #e4e4e4;
  padding: 1% 0;
  font-size: 1.2vw;
}